<div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let element of getData">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{element.name}}
        </mat-panel-title>
        <!--<mat-panel-description>-->
        <!--</mat-panel-description>-->
      </mat-expansion-panel-header>
      <hr>
      <mat-list>
        <mat-list-item *ngFor="let ingredient of element.ingredients">{{ingredient}}</mat-list-item>
      </mat-list>
      <button (click)="deleteElement(element) "mat-raised-button color="warn">Delete</button>
      <button (click)="openEditDialog(element)" mat-raised-button>Edit</button>
    </mat-expansion-panel>
  </mat-accordion>
  <button (click)="openAddDialog()" class="addRecipeButton" mat-raised-button color="primary">Add recipe</button>
</div>

