<form #loginForm="ngForm">
<mat-form-field>
  <input required class="recipeInput" matInput
         [(ngModel)]="name" placeholder="Recipe Name" name="name">
</mat-form-field>
<br>
<mat-form-field>
  <input required
         [(ngModel)]="ingredients" matInput placeholder="Please separate ingredients by comas" name="ingredients"/>
</mat-form-field>
<br>
<button *ngIf="!showButtonToUpdateRecipe" type="submit" mat-raised-button [disabled]="loginForm.form.invalid"  color="primary" (click)="saveDialog()">Add</button>
<button *ngIf="showButtonToUpdateRecipe" type="submit" mat-raised-button [disabled]="loginForm.form.invalid"  color="primary" (click)="saveDialog()">Update</button>
<button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
</form>
